<?xml version="1.0"?>
<config>
    <modules>
        <GT_Speed>
            <version>0.1.0</version>
            <depends>
                <Mage_Page />
                <Mage_Adminhtml />
            </depends>
        </GT_Speed>
    </modules>

    <global>
        <models>
            <gtspeed>
                <class>GT_Speed_Model</class>
                <resourceModel>gtspeed_mysql4</resourceModel>
            </gtspeed>
            <gtspeed_mysql4>
                <class>GT_Speed_Model_Mysql4</class>
                <entities>
                    <image>
                        <table>gtspeed_image</table>
                    </image>
                    <stat>
                        <table>gtspeed_stat</table>
                    </stat>
                </entities>
            </gtspeed_mysql4>
        </models>
        <resources>
            <gtspeed_setup>
                <setup>
                    <module>GT_Speed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gtspeed_setup>
            <gtspeed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gtspeed_write>
            <gtspeed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gtspeed_read>
        </resources>
        <blocks>
            <page>
                <rewrite>
                     <html_head>GT_Speed_Block_Page_Html_Head</html_head>
                </rewrite>                     
            </page>
            <gtspeed>
                <class>GT_Speed_Block</class>
            </gtspeed>
        </blocks>
        <helpers>
            <gtspeed>
                <class>GT_Speed_Helper</class>
            </gtspeed>
        </helpers>
        <template>
            <email>
                <gtspeed_cron_error_email_template translate="label" module="gtspeed">
                    <label>GTspeed Cron Error</label>
                    <file>gtspeed_cron_error.html</file>
                    <type>text</type>
                </gtspeed_cron_error_email_template>
            </email>
        </template>
    </global>
    <default>
        <gtspeed>
            <cssjs>
                <min_css>0</min_css>
                <min_js>0</min_js>
                <merge_css>0</merge_css>
                <merge_js>0</merge_js>
            </cssjs>
            <cssdebug>
                <errorlogger>0</errorlogger>
                <debugflag>0</debugflag>
            </cssdebug>
            <imgopt>
                <gifutil>gifsicle</gifutil>
                <gifutilopt>-b -O3</gifutilopt>
                <jpgutil>jpegoptim</jpgutil>
                <jpgutilopt>--strip-all</jpgutilopt>
                <pngutil>optipng</pngutil>
                <pngutilopt>-o5</pngutilopt>
            </imgopt>
            <imgpath>
                <paths>media,skin,js</paths>
            </imgpath>
            <imgdebug>
                <imgoutput>0</imgoutput>
            </imgdebug>
            <cron>
                <enabled>0</enabled>
                <frequency>D</frequency>
                <time>00,00,00</time>
                <error_email><![CDATA[]]></error_email>
                <error_email_template>gtspeed_cron_error_email_template</error_email_template>
                <error_email_identity>general</error_email_identity>
            </cron>
            <expires>
                <enabled>0</enabled>
                <filetypes>css,js,jpg,png,gif</filetypes>
                <time>5259487</time>
            </expires>
            <unsecure>
                <base_js_url>{{unsecure_base_url}}</base_js_url>
                <base_skin_url>{{unsecure_base_url}}</base_skin_url>
            </unsecure>
            <secure>
                <base_js_url>{{secure_base_url}}</base_js_url>
                <base_skin_url>{{secure_base_url}}</base_skin_url>
            </secure>
        </gtspeed>
    </default>
    <admin>
        <routers>
            <gtspeed>
                <use>admin</use>
                <args>
                    <module>GT_Speed</module>
                    <frontName>gtspeed</frontName>
                </args>
            </gtspeed>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gtspeed>
                    <file>gtspeed.xml</file>
                </gtspeed>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <gtspeed_optimize_images>
                <run>
                    <model>gtspeed/observer::process</model>
                </run>
            </gtspeed_optimize_images>
        </jobs>
    </crontab>
</config>
